Sprint1/models/__pycache__/accueil.cpython-36.pyc
Sprint1/models/__pycache__/admin.cpython-36.pyc
Sprint1/models/__pycache__/article.cpython-36.pyc
Sprint1/models/__pycache__/client.cpython-36.pyc
Sprint1/models/__pycache__/desserte.cpython-36.pyc
Sprint1/models/__pycache__/ingredient.cpython-36.pyc
Sprint1/models/__pycache__/ingredientStock.cpython-36.pyc
Sprint1/models/__pycache__/utilisateur.cpython-36.pyc
Sprint1/models/__pycache__/utilisateur.cpython-36.pyc
