{% extends "Sprint1/index.html" %}
<title> {% block titre %} Gestion des Articles - Ajouter {% endblock %}</title>

{% block main %}

            <div class="card-header py-3">
              <div class="row ">
                <div class="col">
              <h6 class="m-0 font-weight-bold text-primary"> Modifier un article </h6>
            </div>
            </div>
            <div class="card-body">
{% if articles %}
    {% for article in articles %}

              <form class="user p-3" method="POST" action=""><!-- Ajouté dans ce form une liste d'ou on peut selectionné les ingredients qu'on veut associe a cet article -->
                  {% csrf_token %}
<!-- 1er ligne  -->
                  <div class="form-group row">
                        <!-- Article -->
                        <input type="hidden" value="{{  article.getId }}" name="id">
                     <div class="col-sm-6">
                       Article*  <input type="text" class="form-control  " id="article" name="article" placeholder="Article*" value="{{  article.getNom }}" required>
                    </div>
                        <!-- type  -->
                      <div class="col-sm-6">
                        Type* <input type="text" class="form-control  " id="type" name="type" placeholder="Type*" value="{{  article.getType }}" required>
                      </div>
                  </div>
<!-- 2eme ligne  -->

                  <div class="form-group row">
                        <!-- Quantite -->
                     <div class="col-sm-6">
                        Quantite* <input type="text" class="form-control  " id="quantite" name="quantite" placeholder="Quantite*" value="{{  article.getQuantite }}" required>
                    </div>
                        <!-- Prix  -->
                      <div class="col-sm-6">
                        Prix* <input type="text" class="form-control  " id="prix" name="prix" placeholder="Prix*" value="{{  article.getPrix }}" required>
                      </div>
                  </div>

<!-- 3eme ligne  -->

                  <div class="form-group row">
                      <!-- Image  -->
                      <div class="col-sm-6">
                          <label> Image </label>
                        <input type="file" class="form-control  " id="image" name="image" placeholder="Image" accept="image/png, image/jpeg">
                      </div>
                      <!--disponible-->
                     <div class="col-sm-6">
                          <label > Disponible * :</label>
                         <br>
    {% if article.getDisponible %}
                        <input type="radio" id="oui" name="disponible" value="True" checked required >
                            <label for="oui">Oui</label>
                         <br>
                        <input type="radio" id="non" name="disponible" value="False" >
                          <label for="non">Non</label>
    {% else %}
                        <input type="radio" id="oui" name="disponible" value="True"  required >
                            <label for="oui">Oui</label>
                         <br>
                        <input type="radio" id="non" name="disponible" value="False" checked >
                          <label for="non">Non</label>
    {% endif %}
                      </div>

                  </div>
<!-- 4eme ligne  -->

                        <!-- DESCRIPTION -->
                    <div class="form-group">
                      Description   <textarea class="form-control" id="description" name="description" placeholder="Description" >{{  article.getDescription }}</textarea>
                    </div>




<!-- 6eme ligne -->
                  <div class="form-group row justify-content-center">
                    <div class="col-sm-4">
                 <button type="submit"  class=" btn btn-primary  btn-block ">Modifier
                      </button>
                    </div>
                    <div class="col-sm-4">
                      <a href="Articles" class="btn btn-secondary  btn-block">Annuler
                      </a>
                    </div>
                  </div>




              </form>
    {% endfor %}
 {% endif %}
            </div>

{% endblock %}

